html {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    background-color: #00539f;
}
.sec1 {
    margin-top: 33px;
    margin-left: 462px;
    height: 386px;
    background-color: #FFFFFF;
    padding-left: 105px;
    padding-top: 20px;
    width: 483px;
    
}

.sec2 {
    color: blue;
    padding-left: 60px;
}

.sec3 {
    padding-left: 60px;
}

footer {
    margin-top: 50px;
}

.signin:hover {
    background-color: #FFFFFF;
    color: blue;
}
